doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title ТехноЭра
        link(rel="shortcut icon" href="img/fav.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/style.css")
        script(src="https://kit.fontawesome.com/543f278849.js")

    body
    header.center
        nav.wrapper
            h1 
                a(href="/" class="header-title")  ТехноЭра

            ul.nav
                //- li 
                //-     a(href="#" class="favorite") Избранное
                //-         img(src="img/star-regular.svg" alt="Звезда")

                li 
                    h1 
                        a(href="/order" class="shopping-basket") Корзина
                            img(src="img/shopping-basket-solid.svg" alt="Корзина")

