* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-center {
    padding: 0 calc(50% - 600px);
    margin: 0px 6px;
    &-text {
        font-family: Basis Grotesque Pro;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.form-element {
    &-input {
        height: 52px;
        width: 583px;
        border: 1px solid #D2D2D2;
        padding-left: 20px;
        &_ {
            width: 100%;
        }
    }
}

.form-element-text {
    margin-top: 40px;
    text-align: left;
    font-family: Basis Grotesque Pro;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
}

.form-element-star {
    color: red;
}

.form-wrapper {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    &-text {
        display: flex;
        align-items: center;
    }
    &-button {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.form-element-square {
    width: 239px;
    height: 52px;
    padding-left: 20px;
    border: 1px solid #D2D2D2;
}

.form-element-double {
    width: 583px;
}

.form-element-double-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-button {
    height: 58px;
    width: 316px;
    border-radius: 40px;
    padding: 22px, 32px, 19px, 32px;
    font-family: Basis Grotesque Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding: 22px 32px 19px;
    background: #E4C1A4;
    border-radius: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

.form-element-left-text {
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 20px;
}

.file-dropper {
    font-family: Basis Grotesque Pro;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    cursor: pointer;
    margin-left: 50px;
    color: #666666;
    background: transparent;
    padding: 7px 24px;
    border: 1px solid #D2D2D2;
    border-radius: 40px;
    &-left-text {
        margin-left: 10px;
    }
}

.form-mark {
    display: flex;
    align-items: center;
}

#brand-view {
    appearance: none;
    // transition: 0.2s;
}

.brand-view-start {
    background: url(../img/Union.svg) no-repeat 550px center;
}

.brand-view-rotate {
    background: url(../img/shevron.svg) no-repeat 550px center!important;
}

input[type=file]::file-selector-button {
    outline: none;
    cursor: pointer;
    border: 1px solid #666666;
    padding: 10px 5px;
    border-radius: 100px;
    background: white;
}

@media (max-width:1200px) {
    .form-center-text {
        font-size: calc(12px + (14 - 12) * (100vw - 320px) / (1200 - 320));
    }
    .form-element-text,
    .form-element-input {
        font-size: calc(14px + (17 - 14) * (100vw - 320px) / (1200 - 320));
    }
}

@media (max-width:1200px) and (min-width:769px) {
    .form-element-input {
        width: calc(360px + (583 - 360) * (100vw - 768px) / (1200 - 768));
    }
    .form-element-input_ {
        width: 100%;
    }
    .form-element-square {
        width: calc(130px + (239 - 130) * (100vw - 768px) / (1200 - 768));
    }
    .form-element-double {
        width: calc(335px + (583 - 335) * (100vw - 768px) / (1200 - 768));
    }
}

@media (max-width:768px) {
    .form-element-left-text {
        margin-right: calc(15px + (20 - 15) * (100vw - 320px) / (768 - 320));
    }
    .form-wrapper {
        flex-direction: column;
    }
    .form-element-input {
        width: 100%;
    }
    .form-element-double {
        width: 100%;
    }
    .form-element-square {
        width: calc(120px + (320 - 120) * (100vw - 320px) / (768 - 320));
    }
}

@media (max-width:520px) {
    .form-wrapper-text {
        flex-direction: column;
    }
    .form-button-top-text {
        margin-bottom: 15px;
    }
    .file-dropper {
        margin-left: 0px;
    }
}