include header


section.category
    h2 #{cat[0]['category']}
    div.wrap-product.center
        each val, index in goods
            div.product
                p.product-title #{val.name}
                img(src="img/"+val.image alt="foto")
                h3 #{val.cost}
                button В КОРЗИНУ