main.main.center
    h2.main-title Актуальные предложения
    h3.main-element Ноутбуки
    div.main-wrapper
        div.item
            h4 Lenovo IdeaPad
            img(src="img/14 laptop Lenovo Ideapad 3 14ITL05 silver.webp" alt="Lenovo laptop")
            h5 20 000p
            button(type="submit") В КОРЗИНУ

        div.item
            h4 Lenovo IdeaPad
            img(src="img/14 laptop Lenovo Ideapad 3 14ITL05 silver.webp" alt="Lenovo laptop")
            h5 20 000p
            button(type="submit") В КОРЗИНУ

        div.item
            h4 Lenovo IdeaPad
            img(src="img/14 laptop Lenovo Ideapad 3 14ITL05 silver.webp" alt="Lenovo laptop")
            h5 20 000p
            button(type="submit") В КОРЗИНУ

    h3 Телефоны
    div.main-wrapper
        div.item
            h4 Lenovo IdeaPad
            img(src="img/14 laptop Lenovo Ideapad 3 14ITL05 silver.webp" alt="Lenovo laptop")
            h5 20 000p
            button(type="submit") В КОРЗИНУ

        div.item
            h4 Lenovo IdeaPad
            img(src="img/14 laptop Lenovo Ideapad 3 14ITL05 silver.webp" alt="Lenovo laptop")
            h5 20 000p
            button(type="submit") В КОРЗИНУ

        div.item
            h4 Lenovo IdeaPad
            img(src="img/14 laptop Lenovo Ideapad 3 14ITL05 silver.webp" alt="Lenovo laptop")
            h5 20 000p
            button(type="submit") В КОРЗИНУ