section.aboutUs
    div.center.aboutUs__wrapper
        h3 Наши контакты
        div.map-data 
            h3.map-data__title Контакты
            h4.map-data__subtite Отдел продаж:
            a(href="tel:+7 495 260-23-32") +7 495 260-23-32
            a(href="mailto:pk@rut-miit.ru") pk@rut-miit.ru

            h4.map-data__subtite Отдел поддержки:
            a(href="tel:+7 495 681-13-40") +7 495 681-13-40
            a(href="mailto:info@rut-miit.ru") info@rut-miit.ru

            h4.map-data__subtite Офис:
            p Москва, м. Менделеевская
            p Минаевский переулок, 2

    iframe(
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A5f04ddac3c2e12f1b2f70c7b750cab123e5406ad1ba3b9ad003918f81fd600b3&amp;source=constructor" width="100%" 
        height="600"
        frameborder="0"
        )
