div.site-nav.button-primary
    div.close-btn-div
        button.btn-primary-outlined.close-nav x
    h3.cart-header Содержимое товара
    div#category-list
    h3.cart-header Корзина
    div.cart-nav
    div.rext-right
        a(
            href='/order'
            target="_blank"
        ) 
            button.buttom-primary-outlined Заказы