section.center.nav
    nav.left-nav
    //- РЕНДЕРИТСЯ НА JS


    //- div#video

//- script(src='js/video.js')

div.swiper.mySwiper
    div.swiper-wrapper
        div.swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-1.jpg")

        div.swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-2.jpg")
        div.swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-3.jpg")
        div.swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-4.jpg")
        div.swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-5.jpg")
        div.swiper-slide
            img(src="https://swiperjs.com/demos/images/nature-6.jpg")
    div.swiper-button-next
    div.swiper-button-prev
    div.swiper-pagination





        //- ul.left-nav__ul
        //- li 
        //-     a(href="#") Главная
        //-         img(src="img/home-solid.svg" width='20' alt="home.svg")
        //- li 
        //-     a(href="#") Смартфоны
        //-         img(src="img/mobile-solid.svg" width='20' alt="mobile.svg") 
        //- li 
        //-     a(href="#") Гаджеты
        //-         img(src="img/clock-regular.svg" width='20' alt="clock.svg")
        //- li 
        //-     a(href="#") Компьютеры
        //-         img(src="img/desktop-solid.svg" width='20' alt="desktop.svg")
        //- li 
        //-     a(href="#") Ноутбуки
        //-         img(src="img/laptop-solid.svg" width='20' alt="laptop.svg")
        //- li
        //-     a(href="#") Аксессуары
        //-         img(src="img/hat-wizard-solid.svg" width='20' alt="hat.svg")
        //- li 
        //-     a(href="#") Офис
        //-         img(src="img/briefcase-solid.svg" width='20' alt="briefcase.svg")